/*******************   RESETS   *******************/
@import url(normalize.css);
/* line 4, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; }

/* line 11, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
* {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

@media print {
  /* line 18, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  /* line 27, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
  a,
  a:visited {
    text-decoration: underline; }
  /* line 31, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
  a[href]:after {
    content: " (" attr(href) ")"; } }

/* line 36, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
a {
  text-decoration: none;
  color: inherit; }

/* line 41, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 48, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
p,
h1,
h2,
h3,
h4,
h5,
div {
  margin: 0;
  padding: 0; }

/*******************   DEFAULTS   *******************/
/* line 62, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.clearFix {
  clear: both; }

/* line 66, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
body {
  font-family: "Avenir Next", "Lato", sans-serif;
  font-weight: 200; }

/* line 71, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.bold {
  font-weight: 500; }

/* line 75, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.underline {
  text-decoration: underline; }

/*******************************************************/
/************************CONTENT************************/
/*******************************************************/
/* line 88, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
#wrapper {
  position: absolute;
  top: 0;
  left: 0; }

/* line 94, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.navigation {
  z-index: 5000;
  position: fixed;
  top: 0;
  right: 0;
  color: white; }

/* line 102, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.navigation__hamburger {
  z-index: 5001;
  font-size: 3rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  opacity: 0.6; }
  /* line 111, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
  .navigation__hamburger:hover {
    opacity: 1; }
  @media (min-width: 1024px) {
    /* line 102, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .navigation__hamburger {
      font-size: 2rem; } }

/* line 119, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.navigation__menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw; }
  @media (min-width: 768px) {
    /* line 119, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .navigation__menu {
      background-color: rgba(0, 0, 0, 0.7);
      width: 20rem;
      height: 25rem; } }

/* line 134, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.innermenu {
  position: absolute;
  top: 20%;
  height: 60%;
  width: 100%;
  overflow: auto;
  text-align: center; }
  @media (min-width: 768px) {
    /* line 134, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .innermenu {
      top: 10%;
      height: 80%; } }

/* line 148, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.innermenu__item {
  position: relative;
  overflow: auto;
  float: left; }

/* line 155, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.innermenu__item--logo {
  position: relative;
  height: 25%;
  width: 100%; }
  /* line 159, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
  .innermenu__item--logo > img {
    position: relative;
    height: 100%; }

/* line 165, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.innermenu__item--social {
  height: 15%;
  width: 16.66%; }
  /* line 168, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
  .innermenu__item--social i {
    font-size: 1.3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

/* line 176, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.innermenu__item--link {
  height: 15%;
  width: 100%; }

/* line 181, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.par {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

/* line 189, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.landing {
  width: 100vw;
  height: 100vh; }

/* line 194, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.landing__logo {
  top: 15vh;
  z-index: 20;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

/* line 202, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.landing__title {
  z-index: 20;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60vh; }
  /* line 208, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
  .landing__title img {
    height: auto;
    width: 50vh; }

/* line 214, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.landing__description {
  position: absolute;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  color: white;
  text-align: center;
  font-size: 24px;
  top: 80vh;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); }

/* line 227, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.landing__socials {
  position: absolute;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  color: white;
  text-align: center;
  font-size: 24px;
  top: 90vh;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); }
  @media (min-width: 768px) {
    /* line 227, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .landing__socials {
      top: 85vh; } }

/* line 243, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.landing__sociallink {
  float: left;
  line-height: 1.8em;
  height: 1.6em;
  width: 1.6em;
  margin: 0 0.3em;
  border-radius: 100%;
  font-size: 1rem; }
  /* line 251, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
  .landing__sociallink:hover {
    background-color: rgba(0, 0, 0, 0.5); }

/* line 256, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.landing__caret {
  position: absolute;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  font-size: 24px;
  top: 95vh;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); }

/* line 268, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.landing__background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

/* line 275, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.landing__layer {
  will-change: transform;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

/* line 284, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.landing__layer--sky {
  background: url(/res/images/mountains/mountain-sky.svg);
  background-size: cover;
  background-position: top left;
  z-index: 10; }

/* line 291, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.landing__layer--stars {
  z-index: 11; }

/* line 295, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.landing__layer--back {
  background: url(/res/images/mountains/mountain-top.svg);
  background-size: cover;
  background-position: top left;
  z-index: 12; }

/* line 302, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.landing__layer--middle {
  background: url(/res/images/mountains/mountain-middle.svg);
  background-size: cover;
  background-position: top left;
  z-index: 13; }

/* line 309, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.landing__layer--front {
  background: url(/res/images/mountains/mountain-bottom.svg);
  background-size: cover;
  background-position: top left;
  z-index: 14; }

/* line 316, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.intro {
  z-index: 100;
  position: relative;
  border: 1px solid black;
  background-color: black;
  width: 100vw;
  color: white; }

/* line 325, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.intro__inner {
  margin: 2.5em 2em 6.5em 2em;
  text-align: center; }
  @media (min-width: 768px) {
    /* line 325, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .intro__inner {
      margin: 2.5em 8em 6.5em 8em; } }
  @media (min-width: 1024px) {
    /* line 325, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .intro__inner {
      margin: 2.5em 14em 6.5em 14em; } }

/* line 336, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.description {
  margin: 1em; }

/* line 340, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.intro__navigation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 1em;
  width: 25em; }

/* line 348, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.intro__navitem {
  float: left;
  padding: 0.4em 1.8em;
  height: 1.3em;
  line-height: 1.3em; }

/* line 355, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.intro__navitem--dot {
  font-size: 0.3em;
  transform: translateY(1.4em); }

/* line 360, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.designvalues {
  background-color: white;
  z-index: 100;
  font-family: Courier, monospace; }

/* line 366, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.designvalue {
  position: relative; }

/* line 370, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.designvalue__item {
  position: relative; }

/* line 375, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.designvalue__item--pic {
  height: 100vw;
  width: 100vw;
  background-color: grey; }
  @media (min-width: 768px) {
    /* line 375, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .designvalue__item--pic {
      width: 50vw;
      height: 50vw; } }
  @media (min-width: 1024px) {
    /* line 375, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .designvalue__item--pic {
      width: 33vw;
      height: 33vw; } }

/* line 389, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.designvalue__item--text {
  width: 100vw;
  height: auto; }
  @media (min-width: 768px) {
    /* line 389, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .designvalue__item--text {
      width: 50vw;
      height: 50vw; } }
  @media (min-width: 1024px) {
    /* line 389, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .designvalue__item--text {
      width: 67vw;
      height: 33vw; } }

/* line 402, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.designvalue__item--left {
  text-align: center; }
  @media (min-width: 768px) {
    /* line 402, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .designvalue__item--left {
      text-align: right;
      float: left; } }

/* line 410, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.designvalue__item--right {
  text-align: center; }
  @media (min-width: 768px) {
    /* line 410, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .designvalue__item--right {
      text-align: left;
      float: right; } }

/* line 418, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.textwrapper {
  width: 100%;
  padding: 4rem 0; }
  @media (min-width: 768px) {
    /* line 418, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .textwrapper {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 0; } }
  @media (min-width: 1024px) {
    /* line 418, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .textwrapper {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 0; } }

/* line 435, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.textwrapper__par {
  padding: 1rem 2.5rem; }
  @media (min-width: 768px) {
    /* line 435, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .textwrapper__par {
      padding: 1rem 5rem; } }

/* line 442, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.resume {
  z-index: 100;
  position: relative;
  background-color: black;
  overflow: auto; }

/* line 449, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.profilepic {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 5vw 0 5vw 0;
  border-radius: 100%;
  height: 50vw;
  width: 50vw;
  background: url(/res/images/IMG_0014_.jpg);
  background-size: cover;
  background-position: 50% 50%; }
  @media (min-width: 768px) {
    /* line 449, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .profilepic {
      left: auto;
      top: 5vh;
      transform: none;
      margin: 5vw 0 5vw 5vw;
      float: left;
      height: 20vw;
      width: 20vw; } }

/* line 471, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.info {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  width: 85vw; }
  @media (min-width: 768px) {
    /* line 471, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .info {
      width: 65vw;
      left: auto;
      transform: none;
      float: left;
      margin: 5vw 5vw 5vw 5vw; } }

/* line 486, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.info__title {
  font-size: 24px; }

/* line 490, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.info__subtitle {
  margin: 1em 0; }

/* line 494, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.info__bullets {
  text-indent: 1em;
  margin: 0 0 0 3em; }
  /* line 497, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
  .info__bullets ul {
    list-style: disc; }
    /* line 499, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .info__bullets ul li {
      line-height: 2.3em; }

/* line 505, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.info__downloads {
  margin-top: 2rem;
  position: relative; }
  @media (min-width: 1024px) {
    /* line 505, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .info__downloads {
      width: 51rem; } }

/* line 513, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.downloadbutton {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 18rem;
  height: 3.5rem;
  margin-bottom: 1rem; }
  @media (min-width: 768px) {
    /* line 513, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .downloadbutton {
      left: auto;
      transform: none;
      float: left;
      margin: 1rem 3rem 0 3rem; } }

/* line 528, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.downloadbutton__button {
  background-color: white;
  color: black;
  width: 18rem;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  font-weight: 300; }

/* line 538, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.downloadbutton__subbutton {
  position: relative;
  top: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  width: 18rem;
  text-align: center;
  font-size: 10px; }
  @media (min-width: 1024px) {
    /* line 538, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .downloadbutton__subbutton {
      position: relative;
      margin: 0; } }

/* line 553, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.music {
  font-weight: 300;
  z-index: 100;
  background: url(../res/images/StockSnap_S29T0FGLMN-1.jpg);
  overflow: auto;
  background-position: center center;
  background-size: cover; }

/* line 562, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.music__text {
  position: relative;
  padding: 2.5rem 3.5rem;
  margin: 15vw 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center; }
  @media (min-width: 768px) {
    /* line 562, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .music__text {
      width: 50vw;
      margin: 15vw 0; } }

/* line 578, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.music__links {
  overflow: auto;
  margin-top: 1rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem; }

/* line 587, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.music__link {
  width: 50%;
  font-size: 3rem;
  float: left; }

/* line 593, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.music__link--soundcloud:hover {
  color: #FF6000; }

/* line 597, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.music__link--bandcamp:hover {
  color: #639AA9; }

/* line 601, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.footer {
  background-color: black;
  overflow: auto;
  text-align: center;
  color: white;
  padding: 2rem; }

/* line 609, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.contact {
  z-index: 100;
  font-size: 24px;
  margin-bottom: 1rem; }

/* line 615, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.contactitem {
  margin: 1rem; }

/* line 623, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.footer__line {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  width: 65vw;
  border-top: 1px solid white; }
  @media (min-width: 768px) {
    /* line 623, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
    .footer__line {
      width: 35vw; } }

/* line 634, /Users/iMilan/DEV/PROJECTS/Portfolio/css/style.scss */
.disclaimer {
  margin-top: 1rem; }

/*# sourceMappingURL=style.css.map */